.dF-aC-jc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.destination {
    background-image: url(https://st.redbus.in/Images/HomeIndia/HeroImageV2_C.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
